# Pandas DataFrame vs SQL Table

In [ ]:
import pandas as pd
import numpy as np

A pandas DataFrame is similar to a SQL Table

In [ ]:
column_names = ['first_name',
                'last_name',
                'team',
                'position',
                'jersey_number',
                'salary',
                'birthdate']
players  = pd.DataFrame(columns=column_names)
players

If you create an empty dataframe the default datatype for all columns is object

In [ ]:
players.dtypes

You can use the **dtype** parameter to specify a single datatype to use for all columns

In [ ]:
column_names = ['first_name',
                'last_name',
                'team',
                'position',
                'jersey_number',
                'salary',
                'birthdate']
players  = pd.DataFrame(columns=column_names, dtype=int)
players.dtypes

You can modify the datatype of specific columns after the DataFrame is created using 
* **to_datetime()**
* **to_numeric()**

In [ ]:
column_names = ['first_name',
                'last_name',
                'team',
                'position',
                'jersey_number',
                'salary',
                'birthdate']
players  = pd.DataFrame(columns=column_names)
players['birthdate']= pd.to_datetime(players['birthdate']) 
players['jersey_number']=pd.to_numeric(players['jersey_number'],downcast='integer')
players['salary']=pd.to_numeric(players['salary'],downcast='float')
players.dtypes

You can specify datatypes for one or more columns using **astype()**

In [ ]:
column_names = ['first_name',
                'last_name',
                'team',
                'position',
                'jersey_number',
                'salary',
                'birthdate']
players  = pd.DataFrame(columns=column_names)
players = players.astype({'first_name':str,
                          'last_name':str,
                          'team':str,
                          'position':str,
                          'jersey_number':int,
                          'salary':float,
                          'birthdate':np.datetime64})
players.dtypes